<div class="product-page">
  <a href="/products">Voltar</a>
  <h1>{{product.name}}</h1>
  <p>{{product.price}}</p>
  <img src="{{product.image}}" alt="{{product.name}}" />
  <p>{{product.description}}</p>

  <a href="/products/edit/{{product._id}}">Editar</a>
  <br />
  <br />

  <form action="/products/delete/{{product._id}}" method="POST">
    <input type="submit" value="Excluir" />
  </form>
</div>
