<h1>Detalhes</h1>

<div class="books-container">
  <div>
    #{{book.id}}
    -
    <span class="bold">{{book.title}}</span>
    -
    {{book.pagequantity}}
    páginas -

    </div>
    <div class="actions">
      <a class="button" href="/books/edit/{{book.id}}">Editar</a>

      <form action="/books/delete/{{book.id}}" method="post">
        <input class="button" type="submit" value="Excluir" />
      </form>
    </div>
  </div>
</div>

<div class="button-container">
  <a class="button" href="/books">Voltar para listagem</a>
</div>
